img{
	width:100;
	height:100;
	border:2px solid blue;
}

body {
	background-color: orange; 
	font-family: Arial;
}

.red{
	color: red;
}

.bigfont{
	font-size:32px; 
}

#specialstyle {
	border: 2px solid red;
	background-color: blue;
	font-family:Arial;
}

	